<div style="display: flex; justify-content: center; gap: 2%;">
<a href="https://touhouindia.theindiandev.in/">
<img src="/img/alice-stamp.webp"
alt="Alice Supermacy, The stamp shows his favourite touhou character"
title="Alice the best puppeteer girl!!!"
loading="lazy"
style="height : 5vh;">
</a>
<a href="https://www.vim.org/">
<img src="/img/vim-love.gif"
alt="Vim is so cool! My favourite text editor"
title="Vim is my favourite text editor."
loading="lazy"
style="height: 5vh;">
</a>
</div>
<div>
<img src="https://counter.theindiandev.in/@:personal-blog?theme=booru-jaypee"
alt="Number of Web Visit counter since December 25, 2025"
title="Number of visits since December 25, 2025"
loading="lazy"
style="height : 10vh;">
</a>
</div>
<div style="font-size:15px;">
<p class="gitinfo">
Running on
{{ with .GitInfo }}
  {{ .AbbreviatedHash }}
{{ end }}
<span>
| Last Updated:
{{ with .GitInfo }}
  {{ .AuthorDate.Format "2006-01-02" }}
{{ end }}
: <i>
“
{{ with .GitInfo }}
  {{ .Subject }}
{{ end }}
”
</i>
</span>
</p>
</div>
<a href="/index.xml"><u>RSS Feed</u></a>
