<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{- $title := ( .Title ) -}}
{{- $siteTitle := ( .Site.Title ) -}}
{{- if .IsHome -}}
<title>{{ $siteTitle }} | Home </title>
{{- else -}}
<title>{{ $title }} - {{ $siteTitle }}</title>
{{- end -}}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
{{ with .OutputFormats.Get "rss" -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav style="display: flex;">
    <h1 class="hide-on-phone"><img src="/assets/img/swastik.svg" alt="Hindu swastika, sacred symbol" height="50px"
style="vertical-align: middle;"
title="The swastika is an auspicious symbol in Hinduism and it means 'conducive to well-being'"
loading="eager">
<i>theindiandev's shenanigans</i></h1>

    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li style="padding-right: 0.4vw; padding-top: 2.5vh;"><a href="{{ .URL | relURL }}"><u>{{ .Name }}</u></a></li>
      {{ end }}
    </ul>
    </nav>
    <hr/>
