:root {
  --accent-color: #920a0d;
  --background-color: #faf3c3;
  --soft-pink: #eecbc8;
  --border-color: #dcbfa3;
}

body {
  max-width: 900px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  background-color: var(--background-color);
  color: #1a1a1a;
}

a, a:visited {
  color: var(--accent-color);
}

.menu { padding: 0; }
.menu li { display: inline-block; }

.article-meta, .menu a {
  text-decoration: none;
  background: var(--soft-pink);
  color: var(--accent-color);
  padding: 5px;
  border-radius: 5px;
}

.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }

hr {
  border-style: dashed;
  color: var(--accent-color);
  border-color: var(--accent-color);
  opacity: 0.5;
}

/* code */
pre {
  border: 1px solid #ddd;
  /* box-shadow: 5px 5px 0px rgba(146, 10, 13, 0.1); */
  padding: 1em;
  overflow-x: auto;
  background-color: var(--background-color);
  background: none;
}

code {
  background: var(--background-color);
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }

blockquote {
  background: rgba(255, 255, 255, 0.3);
  border-left: 5px solid var(--accent-color);
  padding: 3px 1em 3px;
  color: #4a0507;
}

table {
  margin: auto;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-collapse: collapse;
}

table thead th {
  border-bottom: 1px solid var(--accent-color);
}

th, td { padding: 5px;
background-color: var(--background-color);
}

thead, tfoot, tr:nth-child(even) {
  background: var(--soft-pink);
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table tbody {
  display: table;
}

@media (max-width: 768px) {
  .hide-on-phone {
    display: none !important;
  }
  nav{
    justify-content: center;
    display: none;
   }
}

@media (min-width: 768px) {
.menu{
   margin-left: auto;
}
.hide-on-desktop {
display: none;
}
}
