{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2 January 2006" }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>
<div>
<img src="/img/email.webp" height="25" style="vertical-align: middle;" alt="email icon">
<a href="mailto:comment@blog.theindiandev.in?subject=comment : {{ .Title }}">Comment on this article!</a>
</div>
{{ partial "footer.html" . }}
